<div class="entry-details">
    {% if object.configurl %}
        {% set cbid = object.getKey() %}
        {% if object.configtype == 'Business Mapping' %}
            {% set cburl = 'businessmap' %}
        {% elseif object.configtype == 'Business Actions' > 0 %}
            {% set cburl = 'businessaction' %}
        {% elseif object.configtype == 'changeSet' > 0 %}
            {% set cburl = 'changeset' %}
        {% elseif object.configtype == 'Workflow' > 0 %}
            {% set cburl = 'workflow' %}
        {% elseif object.configtype == 'Menu' > 0 %}
            {% set cburl = 'menu' %}
        {% endif %}
        <a href="configuration-store/{{ cburl }}/{{ object.configurl }}/id:{{ cbid }}/store:configuration"><span class="name">{{ object.name|e }}</span></a>
    {% else %}
        <span class="name">{{ object.name|e }}</span>
    {% endif %}
    {% if object.description %}
        <p><strong>{{ object.description|e }}</strong></p>
    {% endif %}
    <p>{{ object.configtype|e }} - {{ object.configsubtype|e }}</p>
    {% if object.author %}
        <p>{{ object.author|e }}</p>
    {% endif %}
</div>
<div class="entry-extra">
    {% for tag in object.tags %}
        <span>{{ tag|e }}</span>
    {% endfor %}
</div>
